<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{css/top.css}" href="../../static/css/top.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script>
        function switchLanguage(lang) {
            const url = new URL(window.location.href);
            url.searchParams.set('lang', lang);
            window.location.href = url;
        }
    </script>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/Navbar :: Navbar}"></div>
    <div class="breadcrumb">
        <div>
            <p style="color:blue">Top</p>
        </div>
        <div>
            <p>S02</p>
        </div>
    </div>

    <section class="content">
        <!-- Main content goes here -->
        <div class="main-content">
            <!-- Notice Section -->
            <div class="notice_container">
                <div class="title">
                    <span><i class="fa-solid fa-circle-exclamation fa-rotate-180"
                             style="color: #3d75d6;margin-top:18px;margin-right:3px;"></i></span>
                    <p th:text="#{notice}"> Notice</p>
                </div>

                <!-- Notice Section -->
                <div class="notice">
                    <!-- Notice Section -->
                    <ul class="list">
                        <!-- Iterate over baseInfoList -->
                        <li th:each="baseInfo : ${baseInfos}">
                            <!-- Display the date and title -->
                            <span th:text="${#dates.format(baseInfo.beginYmd, 'MM/dd')}"></span>

                            <!-- Display the image logo if importantFlg is 1 -->
                            <span th:if="${baseInfo.importantFlg == '1' || baseInfo.importantFlg == 'Y'}"
                                  class="important">
                            <img th:src="@{/images/important.png}" alt="Important" style="width: 20px; height: 20px;">
                        </span>

                            <span th:text="${baseInfo.title}"></span>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- ToDo and Answer List Combined Section -->
            <div class="todo-answer-container">
                <!-- ToDo List Section -->
                <!-- ToDo List Section -->
                <div class="title">
                    <span><i class="fa-solid fa-circle-check"
                             style="color: #3d75d6;margin-top:18px;margin-right:3px;"></i></span>
                    <p th:text="#{todo_list}"> ToDo List</p>
                </div>
                <div class="todo-list">
                    <table>
                        <colgroup>
                            <col style="width: 20%;"> <!-- Request 1 -->
                            <col style="width: 25%;"> <!-- Request 2 -->
                            <col style="width: 15%;"> <!-- Deadline Date -->
                            <col style="width: 5%;">  <!-- Request Total -->
                            <col style="width: 5%;">  <!-- Receipt Completed -->
                            <col style="width: 5%;">  <!-- Answer Completed -->
                            <col style="width: 5%;">  <!-- Answer Waiting -->
                        </colgroup>
                        <thead>
                        <tr>
                            <th colspan="2" th:text="#{request}">Request</th>
                            <th th:text="#{deadline_date}">Deadline Date</th>
                            <th th:text="#{request_total}">Request Total</th>
                            <th th:text="#{receipt_completed}">Receipt Completed</th>
                            <th th:text="#{answer_completed}">Answer Completed</th>
                            <th th:text="#{answer_waiting}">Answer Waiting</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="todo : ${toDo}">
                            <td><a th:href="'#' + ${todo.gyomuCd}" th:text="${todo.gyomuCd}">Request</a></td>
                            <td th:text="${todo.shushuTxt}">Request</td>
                            <td th:text="${todo.shimekiriYmd}">Deadline Date</td>
                            <td th:text="${todo.requestTotal}">Request Total</td>
                            <td th:text="${todo.iraiStatus}">Receipt Completed</td>
                            <td th:text="${todo.iraiStatus}">Answer Completed</td>
                            <td th:text="${todo.kaitoStatus}">Answer Waiting</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Answer List Section -->
                <div class="answer-list">
                    <table>
                        <colgroup>
                            <col style="width: 20%;"> <!-- Answer 1 -->
                            <col style="width: 25%;"> <!-- Answer 2 -->
                            <col style="width: 15%;"> <!-- Deadline Date -->
                            <col style="width: 20%;">  <!-- Next Responder -->
                            <col style="width: 16%;">  <!-- Answer status-->
                        </colgroup>
                        <thead>
                        <tr>
                            <th colspan="2" th:text="#{answer}">Answer</th>
                            <th th:text="#{deadline_date}">Deadline Date</th>
                            <th th:text="#{next_responder}">Next Responder</th>
                            <th th:text="#{answer_status}">Answer Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="todo : ${toDo}">
                            <td><a th:href="'#' + ${todo.gyomuCd}" th:text="${todo.gyomuCd}">Answer</a></td>
                            <td th:text="${todo.shushuTxt}">Answer</td>
                            <td th:text="${todo.shimekiriYmd}">Deadline Date</td>
                            <td th:text="${todo.partyNameEn}">Next Responder</td>
                            <td th:text="${todo.codeValue1}">Answer Status</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

        <div class="guide_container">
            <div class="title">
                <span><i class="fa-solid fa-circle-exclamation fa-rotate-180"
                         style="color: #3d75d6;margin-top:18px;margin-right:3px;"></i></span>
                <p th:text="#{gips_guide}"> GIPS Guide</p>
            </div>
            <div class="guide">

                <ul class="list">
                    <li th:each="guide : ${tGuides}">
                        <!-- Display the date and title -->
                        <span th:text="${#dates.format(guide.beginYmd, 'MM/dd')}"></span>

                        <!-- Display the logo image if importantFlg is set -->
                        <span th:if="${guide.importantFlg == '1' || guide.importantFlg == 'Y'}" class="important">
                        <img th:src="@{/images/important.png}" alt="Important" style="width: 20px; height: 20px;">
                    </span>

                        <span th:text="${guide.title}"></span>
                    </li>
                </ul>
            </div>
        </div>

    </section>

    <footer></footer>
</div>
</body>
</html>