<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{css/top.css}" href="../../static/css/top.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script>
        function switchLanguage(lang) {
            const url = new URL(window.location.href);
            url.searchParams.set('lang', lang);
            window.location.href = url;
        }
    </script>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/Navbar :: Navbar}"></div>
    <div class="breadcrumb">
        <div>
            <p style="color:blue">Top</p>
        </div>
        <div>
            <p>S02</p>
        </div>
    </div>

    <section class="content">
        <!-- Main content goes here -->
        <div class="main-content">
            <!-- Notice Section -->
<div class="notice_container">
    <p th:text="#{notice}">
        <span><i class="fa-solid fa-circle-exclamation fa-rotate-180" style="color: #3d75d6;"></i></span>  Notice
    </p>

    <!-- Notice Section -->
    <div class="notice">
        <!-- Notice Section -->
        <ul class="list">
            <!-- Iterate over baseInfoList -->
            <li th:each="baseInfo : ${baseInfos}">
                <!-- Display the date and title -->
                <span th:text="${#dates.format(baseInfo.endYmd, 'MM/dd')}"></span>

                <!-- Display the image logo if importantFlg is 1 -->
                <span th:if="${baseInfo.importantFlg == '1' || baseInfo.importantFlg == 'Y'}" class="important">
                            <img th:src="@{/images/important.png}" alt="Important" style="width: 20px; height: 20px;">
                        </span>

                <span th:text="${baseInfo.title}"></span>
            </li>
        </ul>
    </div>
</div>


            <!-- ToDo and Answer List Combined Section -->
            <div class="todo-answer-container">
                <!-- ToDo List Section -->
                <p th:text="#{todo_list}"><span> <i class="fa-solid fa-circle-check" style="color: #2283ce;"></i></span>  ToDo List
                </p>
                <div class="todo-list">



                    <table>
                        <colgroup>
                            <col style="width: 20%;"> <!-- Request 1 -->
                            <col style="width: 25%;"> <!-- Request 2 -->
                            <col style="width: 15%;"> <!-- Deadline Date -->
                            <col style="width: 5%;">  <!-- Request Total -->
                            <col style="width: 5%;">  <!-- Receipt Completed -->
                            <col style="width: 5%;">  <!-- Answer Completed -->
                            <col style="width: 5%;">  <!-- Answer Waiting -->
                        </colgroup>
                        <thead>
                        <tr>
                            <th colspan="2" th:text="#{request}">Request</th>
                            <th th:text="#{deadline_date}">Deadline Date</th>
                            <th th:text="#{request_total}">Request Total</th>
                            <th th:text="#{receipt_completed}">Receipt Completed</th>
                            <th th:text="#{answer_completed}">Answer Completed</th>
                            <th th:text="#{answer_waiting}">Answer Waiting</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="#">1-1</a></td>
                            <td>Test</td>
                            <td>2020/10/24</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td><a href="#">A0012123-0001</a></td>
                            <td>Domestic affiliate company</td>
                            <td>2024/06/30</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td><a href="#">A0022222-0001</a></td>
                            <td>en</td>
                            <td>2024/07/31</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td><a href="#">A0033333-0001</a></td>
                            <td>en</td>
                            <td>2024/07/31</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Answer List Section -->
                <div class="answer-list">
                    <table>
                        <colgroup>
                            <col style="width: 20%;"> <!-- Answer 1 -->
                            <col style="width: 25%;"> <!-- Answer 2 -->
                            <col style="width: 15%;"> <!-- Deadline Date -->
                            <col style="width: 20%;">  <!-- Next Responder -->
                            <col style="width: 16%;">  <!-- Answer status-->
                        </colgroup>
                        <thead>
                        <tr>
                            <th colspan="2" th:text="#{answer}">Answer</th>
                            <th th:text="#{deadline_date}">Deadline Date</th>
                            <th th:text="#{next_responder}">Next Responder</th>
                            <th th:text="#{answer_status}">Answer Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="#">A0012123-0001</a></td>
                            <td>Domestic affiliate company</td>
                            <td>2024/06/30</td>
                            <td>Nithin Malia</td>
                            <td>Answer waiting</td>
                        </tr>
                        <tr>
                            <td><a href="#">A0022222-0001</a></td>
                            <td>en</td>
                            <td>2024/07/31</td>
                            <td>Vinny John</td>
                            <td>Answer waiting</td>
                        </tr>
                        <tr>
                            <td><a href="#">A0033333-0001</a></td>
                            <td>en</td>
                            <td>2024/07/31</td>
                            <td>kEzNzutHJ</td>
                            <td>Answer waiting</td>
                        </tr>
                        <tr>
                            <td><a href="#">ABC10012-0001</a></td>
                            <td>Domestic Affiliate Destination</td>
                            <td>2024/07/31</td>
                            <td>Nithin Malia</td>
                            <td>Answer waiting</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="guide_container">
            <p th:text="#{gips_guide}"><span> <i class="fa-solid fa-circle-exclamation fa-rotate-180" style="color: #3d75d6;"></i></span>  GIPS Guide
            </p>
            <div class="guide">

                <ul  class="list">
                    <li th:each="guide : ${tGuides}">
                        <!-- Display the date and title -->
                        <span th:text="${#dates.format(guide.endYmd, 'MM/dd')}"></span>

                        <!-- Display the logo image if importantFlg is set -->
                        <span th:if="${guide.importantFlg == '1' || guide.importantFlg == 'Y'}" class="important">
                        <img th:src="@{/images/important.png}" alt="Important" style="width: 20px; height: 20px;">
                    </span>

                        <span th:text="${guide.title}"></span>
                    </li>
                </ul>
            </div>
        </div>

    </section>

    <footer></footer>
</div>
</body>
</html>
