<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toray.ojt.web.mapper.BaseAttributeMapper">
    <select id = "findAtrributeNameByPartyId" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT ATTRIBUTE_NAME FROM BASE_PARTY_ATTRIBUTE WHERE PARTY_ID = #{partyId}
    </select>
</mapper>